/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rubik:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.imageSize {
    width: 25px;
    height: 25px;
}

.imgSize {
    width: 50px;
    height: 50px;
}

.card-header {
    padding: 10px;
}

.card-body h2 {
    color: rgb(88, 81, 81);
}

.req {
    color: red;
}

.error {
    color: #dc3545;
    font-weight: 500 !important;
}

.primary {
    background-color: #336ea0;
}

.card-title {
    color: #000;
}

.content-header {
    padding: 8px 0 !important;
}

.iCheck {
    font-size: 0.85rem !important;
}

.mainclass {
    font-weight: bold;
}

.subclass {
    font-size: 14px;
}

.action_button {
    padding: 0.1rem 0.5rem !important;
    border-radius: 0;
    background-color: #336ea0;
    border-color: #336ea0;
    color: #fff;
    box-shadow: none;
    font-size: 0.89rem !important;
}

.action_button:hover {
    color: #fff !important;
}

.action_button.dropdown-toggle::after {
    vertical-align: 0.155em !important;
}

.action_dropdown .dropdown-item {
    font-size: 0.95rem !important;
}

.form-control {
    height: 2.3rem;
    border-radius: 0;
    font-size: 13px;
    padding: 0.275rem 0.75rem 0.375rem 0.75rem;
    /*line-height: 1;*/
}

.buttons-collection {
    float: right;
    margin-left: 10px;
    padding: 0.42em 1em !important;
    border-radius: 0 !important;
}

.dt-button-collection {
    left: 800px !important;
}

.dataTables_wrapper .dataTables_length select {
    width: 100px;
    text-align-last: center;
    border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_length {
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_length select:focus {
    outline: none;
    border-radius: 0 !important;
}

.select2-container .select2-selection--single {
    height: 37px;
    border: 1px solid #ced4da;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    margin-top: 2px;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.headerButton {
    padding: 0.2rem 0.5rem !important;
    /* background-color: #71a52c !important; */
    background-color: #ffc107ed !important;
    border-color: #ffc107ed !important;
}
.btn {
    padding: 0.2rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
}

.nav-sidebar .nav-header {
    font-size: 1.1rem;
}

.infos a {
    color: #212529;
}

.content-header {
    padding: 15px 0;
}



.info-box:hover {
    transform: scale(1.05);
}

.info-box .info-box-icon {
    border-radius: 0;
    width: 90px;
}

.info-box .info-box-content {
    padding: 0 20px;
}

.info-box .info-box-text {
    white-space: normal;
}

.card {
    border-radius: 0;
}

.create-card > .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.returnButton {
    font-size: 0.9rem !important;
    padding: 0.1rem 0.5rem !important;
}

table.dataTable td,
table.dataTable th {
    font-size: 13px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 6px 10px;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none;
}

.tableAnchor {
    color: #000;
}

.tableAnchor:hover {
    color: #000;
}

table td,
th {
    padding: 8px 10px !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.navbar-white {
    background: linear-gradient(to right, #065dac, #0ca4ec);
}
.main-header .nav-link {
    height: auto;
    position: relative;
}
.nav-sidebar .nav-link p {
    font-size: 12px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 13px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

[class*="sidebar-dark-"] {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid #fff;
}

[class*="sidebar-dark"] .user-panel {
    border-bottom: 1px solid #fff;
}

[class*="sidebar-dark-"] .user-panel a:hover {
    color: #308ee0;
}

[class*="sidebar-dark-"] .sidebar a {
    color: #4a4a4a;
}

[class*="sidebar-dark-"] .sidebar a:hover {
    color: #241e20;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link {
    color: #4a4a4a;
    padding: 0.5rem 2.5rem;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #fff;
    color: #308ee0;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
    color: #308ee0;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link.active {
    box-shadow: none;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover {
    color: #308ee0;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #308ee0;
}

.btn-primary {
    background-color: #336ea0;
    border-color: #336ea0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #336ea0;
    border-color: #336ea0;
}

.btn-primary:hover {
    background-color: #336ea0;
    border-color: #336ea0;
}

.btn-primary {
    background-color: #336ea0;
    border-color: #336ea0;
}

.main-footer {
    background-color: #fff;
    color: #271c20;
}

.main-footer a {
    color: #336ea0;
}

.main-footer a:hover {
    color: #067b59;
    text-decoration: none;
}

.calculator-keyentry {
    position: absolute !important;
    top: 0 !important;
    width: 0 !important;
    border: none !important;
    background: 0 0 !important;
    display: none !important;
}

.calculator-inline {
    border-radius: 0 !important;
}

.calculator-result {
    clear: both !important;
    margin: 0 !important;
    padding: 10px !important;
    text-align: right !important;
    background-color: #ecf3ee !important;
    border: 1px solid #ccc !important;
    font-size: 110% !important;
    overflow: hidden !important;
    border-radius: 0 !important;
}

.calculator-result .calculator-formula {
    font-size: 11px !important;
}

.calculator-result span {
    display: block !important;
    width: 100% !important;
}

.calculator-row .calculator-undo,
.calculator-row .calculator-clear-error,
.calculator-row .calculator-clear {
    width: 53px !important;
    border-radius: 0 !important;
}

.calculator-row button {
    position: relative !important;
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 40px !important;
    width: 25% !important;
    line-height: 40px !important;
    text-align: center !important;
    cursor: pointer !important;
    background: #fff;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
}

.calc-drop {
    min-width: 233px !important;
    border-radius: 0;
}

.calc-drop .dropdown-item {
    padding: 0.5rem !important;
}

.calculator-row button:focus {
    background-color: transparent !important;
    color: #000 !important;
    outline: 0 !important;
    border-color: transparent !important;
}

.calc-drop .dropdown-item {
    background-color: transparent !important;
}

.ui-widget.ui-widget-content {
    border: 1px solid #ccc1c1 !important;
}

.cur_sor {
    cursor: pointer;
}

.rupees {
    font-size: 18px;
}

.input-group-text {
    border-radius: 0;
    height: 2.3rem;
}

.form-control:disabled,
.form-control[readonly] {
    border-radius: 0;
}

.ware_qty {
    background: #f4f6f9;
}

.left-input-icon {
    position: relative !important;
}

.left-input-icon .form-control {
    height: 2.3rem;
    border-radius: 0;
    font-size: 0.9rem;
    line-height: 1;
    padding-right: 1.5rem;
    padding-left: calc(2rem + 10px);
}

.left-input-icon .icon-position {
    right: auto;
    left: 0px;
}

.icon-position {
    line-height: 44px !important;
    position: absolute;
    top: -2px;
    right: 0;
    display: block;
    width: 2.5rem !important;
    height: 0rem !important;
    text-align: center;
}

.icon-position i {
    font-size: 18px;
}

.iti {
    display: block !important;
}

a:not([href]) {
    color: #fff !important;
}

a:not([href]):hover {
    color: #fff !important;
}
.user-panel .image1 {
    display: inline-block;
    padding-left: 1rem;
}
.content-header {
    font-size: 1rem;
    color: #212529;
}
.content .card-title {
    float: none;
}
.content-wrapper > .content {
    padding: 15px 0.5rem 0px 0.5rem;
}
.content-wrapper > .content.content-style {
    padding: 0px 0.5rem;
}
.elevation-4 {
    box-shadow: none !important;
}
.brand-link .brand-image {
    float: none;
    max-height: 50px;
}
.designation i {
    font-size: 8px;
    margin-left: 5px;
}
/* user profile css in header */
/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px;
    background: #fff;
    width: 240px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons a {
    color: #fff;
    text-decoration: none;
}

.profile-userbuttons a:hover {
    text-decoration: none;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}
.dropdown-menu {
    padding: 0 !important;
    border-radius: 0 !important;
}
.product-type .select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
}
.product-type
    .select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: solid #ced4da 1px !important;
    outline: 0;
}
.product-type .select2-container .select2-selection--multiple {
    min-height: 35px !important;
}
.product-type
    .select2-container--default
    .select2-search--inline
    .select2-search__field:focus {
    border: 1px solid transparent !important;
}
.product-type
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    border-right: 1px solid transparent !important;
    color: #fff !important;
}
.product-type
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #336ea0 !important;
    border: 1px solid #336ea0 !important;
    padding: 0px !important;
    padding-left: 5px !important;
}

.product-type
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    background-color: transparent !important;
}
.product-type .select2-container {
    width: 100% !important;
}
.product-type
    .select2-container
    .select2-search--inline
    .select2-search__field {
    margin-top: 6px !important;
    margin-left: 0px !important;
    font-family: inherit !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}

/* Dashboard-count section css */

.info-box {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
        0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
        0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
        0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    transition: all 0.2s;
}
.info-box {
    padding: 0 !important;
}
.info-box-icon {
    border-radius: 0 !important;
    display: block;
    float: left;
    height: 80px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.2);
}
.info-box .info-box-text {
    text-transform: uppercase !important;
}
