/*footer*/

.heading {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 1.5;
}

footer {
    float: left;
    width: 100%;
    font-family: "Heebo", sans-serif;
    padding: 25px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #999;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

footer p a {
    color: #999;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul {
    margin: 0px;
    list-style-type: none;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
}

.footer_ul li {
    padding: 0px 0px 5px 0px;
}

.footer_ul li a {
    color: #333333;
    font-size: 14px;
}

.footer_ul li a:hover {
    color: #890708;
    text-decoration: none;
}

.footer_ul li a i {
    color: #890708;
    font-size: 16px;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2 {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2 li p {
    display: table;
}

.footer_ul2 li a:hover {
    text-decoration: none;
}

.footer_ul2 li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #99999929;
    padding-bottom: 20px;
}

.foote_bottom_ul {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul li {
    display: inline;
}

.foote_bottom_ul li a {
    color: #999;
    margin: 0 12px;
}

.footer .social_footer_ul {
    display: table;
    list-style-type: none;
    padding-inline-start: 0;
}

.footer .social_footer_ul li {
    padding-right: 10px;
    padding-top: 10px;
    float: left;
}

.footer .social_footer_ul li a {
    color: #fff;
    background: #7d7d7d;
    border: 1px solid #7d7d7d;
    padding: 8px 11px;
    border-radius: 50%;
}

.footer .social_footer_ul li i {
    width: 12px;
    height: 10px;
    text-align: center;
}

.payment li {
    list-style: none;
    margin-left: 10px;
}

#button {
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 5px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
}

#button.show {
    opacity: 1;
    visibility: visible;
}
