@media (max-width: 768px) {
    .right_side_search .float-right {
        float: none !important;
    }
    .cart {
        margin-left: 0 !important;
    }
    .right_side_search {
        margin-top: 10px !important;
    }
    .card-area .col-lg-2 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .main_header .header-top {
        display: none !important;
    }
    .mynav {
        display: block !important;
    }
    .navbar-toggler span {
        color: #333333 !important;
    }
    .header-middle {
        display: none !important;
    }
    .beer_img img {
        height: 100% !important;
    }
    .img-style img {
        height: 100% !important;
    }
}

@media (max-width: 600px) {
    .partner_logo .slide{
        min-height: auto !important;
    }
    .product-image{
        margin-bottom: 30px !important;
    }
    .nav-pills#pills-tab .nav-link {
        margin-bottom: 20px !important;
    }
    .float-media {
        float: left !important;
    }
    .form-login {
        margin-bottom: 30px !important;
    }
    .product_image {
        margin-bottom: 20px !important;
    }
    .wine_img img {
        height: 100% !important;
    }
    .beer_img img {
        height: 100% !important;
    }
    .img-style img {
        height: 100% !important;
    }
    .grid {
        padding-bottom: 20px !important;
        text-align: center !important;
    }
    .navbar-toggler span {
        color: #fff !important;
    }
    .main_header .sticky {
        display: none;
    }
    .mynav {
        display: none !important;
    }
    .header-middle {
        display: none !important;
    }
    .top_section {
        margin-top: 80px !important;
    }
    .mobilenav {
        display: block !important;
    }
    .right_side_search .float-right {
        float: none !important;
    }
    .copyright p {
        text-align: center !important;
    }
    .newstitle p {
        margin: 0 0 1rem 0 !important;
    }
    .main_header .header-top {
        display: none !important;
    }
    .copyright .payment {
        float: none !important;
        text-align: center !important;
        justify-content: center;
        padding-inline-start: 0 !important;
    }
    .copyright .p-0 {
        padding: 0 15px !important;
    }
    .cart {
        margin-left: 0 !important;
    }
    .right_side_search {
        margin-top: 10px !important;
    }
    .card-area .col-lg-2 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 320px) {
    .navbar-toggler span i {
        margin-left: 35px !important;
    }
}
